[[language]]
name = "python"
language-servers = [ "basedpyright", "ruff" ]
auto-format = true
formatter = { command = "ruff", args = ["format", "-" ] }

[language-server.basedpyright.config.python.analysis]
typeCheckingMode = "basic"

[language-server.ruff]
command = "ruff"
args = ["server"]

